# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#imgRando/dossier
# public/assets/img/imgRando/20230305 
# public/assets/img/imgRando/20230312 
# public/assets/img/imgRando/20230319 
# public/assets/img/imgRando/20230409 
# public/assets/img/imgRando/20230423 
# public/assets/img/imgRando/20230430 
# public/assets/img/imgRando/20230507 
# public/assets/img/imgRando/20230521 
# public/assets/img/imgRando/20230528 
# public/assets/img/imgRando/20230611 
# public/assets/img/imgRando/20230702 
# public/assets/img/imgRando/20230709 
# public/assets/img/imgRando/20230716 
# public/assets/img/imgRando/20230723 
# public/assets/img/imgRando/20230903 
# public/assets/img/imgRando/20230910 
# public/assets/img/imgRando/20230917 
# public/assets/img/imgRando/20230924 
# public/assets/img/imgRando/20231001_aix 
# public/assets/img/imgRando/20231001_dourges 
# public/assets/img/imgRando/20231008 
# public/assets/img/imgRando/20231015 
# public/assets/img/imgRando/20231029 
# public/assets/img/imgRando/20231105 
# public/assets/img/imgRando/20231112 
# public/assets/img/imgRando/20231209