.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 5px 5px 0 0;
}

.tab.active {
    background-color: #ccc;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
    animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}