/* Style de la classe du conteneur */
.containerClassName {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
}

/* Style de la classe de la page */
.pageClassName {
    
    display: inline-block;
}

/* Style de la classe du lien de la page */
.pageLinkClassName {
    color: white;
    background-color: #008001;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

/* Style de la classe du lien "Précédent" */
.previousClassName {
    
    display: inline-block;
}

/* Style de la classe du lien "Suivant" */
.nextClassName {
    
    display: inline-block;
}

/* Style de la classe du lien de rupture "..." */
.breakClassName {
    
    display: inline-block;
}

/* Style de la classe du lien de rupture "..." */
.breakLinkClassName {
    color: white;
    background-color: #008001;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

/* Style de la classe du lien actif */
.cssALCN {
    color: white;
    background-color: #026302;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.pageLinkClassName:hover, .breakLinkClassName:hover{
    background-color: #026302;
}