header,
footer {
  z-index: 9999;
}

#accueil {
  background-image: url(assets/img/fond_minier2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.bg-green {
  background-color: #008001 !important;
}

button.bg-green:hover {
  background-color: #026302 !important;
}

.bg-orange {
  background-color: #df6d14 !important;
}
button.bg-orange:hover {
  background-color: #de6609 !important;
}

body {
  font-family: 'Roboto', Arial, sans-serif !important;
  overflow-x: hidden;
}

main {
  margin-bottom: 100px;
}

.btn-inscription {
  border: 1px;
  border-radius: 6px;
  padding: 6px 12px 6px 12px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5vw;
  height: 5vw;
  border-radius: 20px;
}

.leaflet-popup{
  bottom: 22px !important;
}